.audioPlayer-container {

      //
      // AUDIO CONTROLS
      //

    @audio-track-bar-height : 6px;

    .audioPlayer {
        width: 100%;
    }

    .audioPlayer .audio-player-control-container{
        font-size: 12px;
        color: @pc-text-color;
        font-weight:normal;
        position:relative;
        display: flex;
        flex-direction: row;
        height: 13px;
        min-width: 250px;
    }

    .audioPlayer .audio-player-control-container .audio-player-time{
        display:inline;
        font-size:12px;
        color:@pc-text-color;
        flex-shrink: 1;
    }

    .audioPlayer .audio-player-control-container .waveContainer {
        display:inline-block;
        width: 130px;
        position: relative;
        padding:3px 0px;
        top:2px;
        flex-shrink: 0;
    }

    .audioPlayer .audio-player-control-container .audio-player-control-fa-icon{
        font-size: 14px;
        width: 12px;
        color:@pc-text-color;
        cursor:pointer;
        flex-shrink: 0;
    }

    .audio-player-control-container .audio-volume-control{
        line-height: 1.2;
    }

    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container{
        height: auto;
        width: 185px;
        border: solid 1px #dadada;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.21);
        padding: @spacing-xs;
        border-radius: @radius-std;
        position: absolute;
        right: 0px;
        background-color: #fff;
        z-index: 2000;
        text-align: center;
    }

    .audio-player-control-container .load-indicator-play-control {
        height:12px;
        width: 12px;
        flex-shrink: 0;
    }

    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container.ideVolumeControl{
        display:none;
    }

    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container .layer-divider{
        margin: @spacing-xs 0px;
        border: 0;
        border-top: 1px solid #dadada;
    }

    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container .udio-volume-text{
        font-size: 14px;
        color: @pc-text-color;
        font-family: Arial;
        display: block;
        margin-bottom: 5px;
    }

    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container .olume-option{
        float: left;
        font-size: 14px;
        margin: 0px @spacing-xs;
        width: 60px;
        line-height: 1.5;
    }

    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container .olume-down,
    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container .olume-up {
        color: @pc-black;
    }

    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container .olume-option .option-label{
        font-weight: normal;
    }

    .audio-player-control-container .audio-volume-control .audio-volume-control-popover-container .olume-option .option-label.isSelected{
        font-weight: bold;
    }

    .playback-audioTrackBar {
        background-color: @pc-black;
        height: @audio-track-bar-height;
    }

    .playback-eventBar {
        position: relative;
    }

    .playback-eventIcon {
        color: @pc-blue;
        position: absolute;
        font-size: 12px;
    }

    .playback-eventIcon .popover {
        display: block;
        width: 200px;
        top: 20px;
    }

    .playback-eventIcon .popover .popover-content {
        text-align: left;
    }

    .playback-eventIcon .popover .popover-content .header-col {
        font-weight: bold;
    }

    .playback-eventIcon .popover .popover-content .value-col {
        float: right;
    }

    .playback-playedAudioTrackBar {
        background-color: #57aac6;
        height: @audio-track-bar-height;
        position: absolute;
    }

    .playback-playButton {
        margin: @spacing-xs 0;
    }

    .playback-positionIndicator {
        background-color: @pc-black;
        position:absolute;
        top:0;
        height:100%;
        width:6px;
        border-radius: @radius-std;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    .audio-elements{
        display:none;
    }
}