.encryptionKeys-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

  .encryptionKeys-periodSelector {
        flex-grow: 1;
        margin-right: @spacing-sm;
    }

    .encryptionKeys-cancel-edit {
        flex-grow: 1;
        text-align: left;
    }

    .encryptionKeys-table-header {
        display: flex;
        flex-direction: row;
        width: 100%;

        .encryptionKeys-label {
            flex-grow: 1;
        }
    }

    .rotate-controls {
        flex-shrink: 0;
    }
    .periodic-rotate-action {
        displey: flex;
        flex-direction: row;
        margin: @spacing-std 0;
        padding: @spacing-xs;
        background-color: @pc-lightgrey;
        border-radius: @radius-std;

        .periodic-rotate-label {
            flex-grow: 0;
            margin: 7px @spacing-sm;;
        }

        .encryptionKeys-edit {
            padding: 0px;
        }

        .encryptionKeys-edit,
        .periodic-rotate-text {
            margin: auto 0;
        }
    }
    .rotate-now-action {
        padding: 0 @spacing-sm;
    }

  .user-cell {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    .user-name {
      margin: 0;
      padding-left: @spacing-xs;
      font-weight: bold;
    }
  }
}


