.evaluator-table-container {

  .daterange-selector {
    width:15%;
    min-width: 170px;
    margin-top: 10px;
    margin-left: auto;
  }

  .pending-evaluations{
    width: 100%;
    .eval-table {
      width: 100%;
    }
    margin-top: 35px;
  }

  .completed-evaluations {
    width: 100%;
    .eval-table {
      width: 100%;
    }
    margin-top: 10px;
  }

  .error-text {
    margin: 0 @spacing-sm @spacing-sm 0;
    padding: @spacing-sm;
    width: 100%;
    color: @pc-red;
    text-align: center;
    font-size: medium;
  }

  .title {
    font-weight: bold;
    margin-bottom: @spacing-xs;
  }

  .evaluator-image-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

}