.evaluator-list {

  .eval-table{
    width: 100%;
  }

  .daterange-selector {
    width:15%;
    min-width: 170px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
  }

  .clickable-row {
    cursor: pointer;
  }

  .complete-with-progress {
    .campaign-complete {
      color: @pc-green;

      i.fa {
        line-height: 1.5em;
      }
    }

    .determinate-progress {
      display: inline;
      //width: 125px;
      //min-width: 125px;
      margin-right: 4px;
      font-size: 10px;
      text-align: center;
      vertical-align: middle;

      .determinate-progress-bar {
        .progress-bar {
          background-color: @pc-darkblue;
        }

        overflow: hidden;
        height: 12px;
        font-size: 2px;
        background-color: #989898;
        border-radius: @radius-sm;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        padding: 0px;
        margin: 0px;
      }
    }

  }
}