.keywordSet-list-container {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  width: 100%;

  .keywordSet-clear-field {
    cursor: pointer;
  }

  .name-keywordSet {
    width: 20%;
  }

  .description-keywordSet {
    width: 40%;
  }

  .price-keywordSet {
    width: 15%;
  }

  .address-keywordSet {
    width: 30%
  }

}