.keywordSet-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 0%;
    min-height: 0px;

    .keywordSet-description {
        resize: vertical;
    }
    .keywordSet-item-lists-container {
        display: flex;
        flex-direction: row;
    }
    
    .keywordSet-item-category {
        padding-bottom: @spacing-std;
    }

    .keywordSet-item-label {
        display: block;
    }

    .autocomplete-container {
        position: relative;
    }

    .autocomplete-list {
        padding: 0;
        position: absolute;
        .autocomplete-item {
            padding: @spacing-xs;
        }
    }

    .checkedListEditor label {
        display: block;
        font-weight: normal;
    }

    .control-message {
        color: @pc-red;
    }


    .keywordSet-item-dateRanges .fa {
        float: right;
    }
    
    .keyword-phrase-column {
        width: 30%;
    }

    .header {
        border-bottom: 1px solid @pc-darkgrey;
    }

    .blank-space {
        height: 125px;
    }

    .keywordSet-item-2column {
        width: 50%;
    }

    .queueSelector{
        max-width: 440px;
        display: block;
    }

    .keywordSet-item {
        // don't know where @spacing-sm is set, and it's indenting wrongly anyway
        // padding-left: @spacing-sm;
        width: 100%;

        .numberSelector {
          border-radius: @radius-std;
          margin-bottom: 5px;
          border: 1px #ccc solid;
          text-align: center;
        }
    }

}

.keyword-number {
  .form-control {
    min-width: 50px;
  }

  .duration-clear-link {
    padding-left: 10px;
  }
}

.inline-dialog-container {
    position: absolute;
    width: 50%;
    top: 100%;
    margin: 0 auto;
}