.policy-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 0%;
    min-height: 0px;

    .media-policy-tabs {
        width: 100%;
    }

    .policy-description {
        resize: vertical;
    }
    .policy-item-lists-container {
        display: flex;
        flex-direction: row;
    }
    .policy-items-container {
        flex: 1 0 auto;
        height: 100%;
        margin: @spacing-sm 0;
        padding: @spacing-sm;
        padding-top: 0px;
        margin-top: 0px;

        .policy-item-category {
            padding-bottom: @spacing-std;
        }

        .policy-item-label {
            display: block;
        }

        .autocomplete-container {
            position: relative;
        }

        .autocomplete-list {
            padding: 0;
            position: absolute;
            .autocomplete-item {
                padding: @spacing-xs;
            }
        }

        .checkedListEditor label {
            display: block;
            font-weight: normal;
        }

        .form-group {
            width: 100%;
        }

        .policy-item-dateRanges .fa {
            float: right;
        }
    }

    .control-message {
        color: @pc-red;
    }

    .blank-space {
        height: 125px;
    }

    .policy-item {
        padding-left: @spacing-sm;
        width: 100%;

        .agentSelector,
        .dateRangeSelector,
        .evaluationSelector,
        .wrapUpCodeSelector,
        .evaluators-selector,
        .calibrator-selector,
        .numberSelector,
        .queueSelector{
            max-width: 440px;
            display: block;
        }

        .numberSelector {
          border-radius: @radius-std;
          margin-bottom: 5px;
          border: 1px #ccc solid;
          text-align: center;
        }
    }

    .timeslot-items {
        padding-bottom: 10px;
    }

    .timeslot-item {
        margin-bottom: 10px;
    }

    .timeslot-start-time {
        padding-right: 5px;
    }

    .timeslot-stop-time {
        padding-right: 5px;
    }

    .timeslot-day {
        padding-right: 5px;
    }
  
    .policy-item-calibrations-expert-evaluator {
        padding-left: @spacing-sm;
    }

    .policy-item-retainRecording {
        .deleteLabel,
        .retainLabel {
            font-weight: normal;
        }

        .deleteLabel {
            margin-left: @spacing-std;
        }
    }

    .policy-item-metered-evaluation-activeUser {
        .active-user-status-options {
            padding-left: @spacing-sm;
            margin-bottom: 5px;
        }

        .onlineLabel,
          .anytimeLabel {
              font-weight: normal;
          }
          .anytimeLabel {
              margin-left: @spacing-std;
          }
    }
    .enable-media-type-container {
        padding: @spacing-sm;
        padding-bottom: 0px;
    }

    .enable-media-type-label {
        font-size: 20px;
        vertical-align: top;
        margin-left: @spacing-sm;
    }

    .media-policy-tabs .fa-exclamation {
        color: @pc-red;
    }
    .media-policy-tabs .fa-ban {
        color: #9a9a9a;
    }
    
    .policy-item-no-expand {
        font-weight: normal;
    }
}
