.policy-list-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  .policy-clear-field {
    cursor: pointer;
  }

  .trunk-config-info {
    border: 1px solid @pc-darkgrey;
    border-radius: @radius-std;
    background-color: @pc-lightblue;
    padding: 5px 10px;
    margin: 5px 0;
    flex-shrink: 0;
  }

  .orphan-recording-info {
    border: 1px solid @pc-darkgrey;
    border-radius: @radius-std;
    background-color: @pc-lightblue;
    padding: 5px 10px;
    margin: 5px 0;
    flex-shrink: 0;
  }

  .invalid-policy {
    width: 15%;
  }

  .enabled-policy {
    width: 10%;
  }

  .name-policy-parent {
    width: 30%;
  }

  .description-policy {
    width: 45%;
  }
}