.header {
        font-weight: 200;
        border-bottom: 1px solid #e3e3e3;
        font-size: 1.8rem;
        margin: 0 0 1.5rem;
        padding-bottom: 1rem;
        padding-top: .5rem;
        letter-spacing: normal;
    }

.recording-management-container {

    .duration-container {
        margin-left: 0px;
        
        .duration-clear {
            margin-top: 19px;         
        }   
    }
     
    .max-stream-container {
        padding-bottom: 3px;
        padding-top: 3px;
    }
    
    .help-block {
        margin-bottom: 0;
        display: block;
        margin-top: 5px;
        color: #737373;
        font-size: 85%;
    }
    
    .mid-setting {
        padding-top: 10px;
    }
}
