<div class="config-form evaluator-list">
    <!-- ko with: dateRangesView -->
    <div class="btn btn-default daterange-selector" data-bind="
        dateRangePicker: {
            value: dateRangeValue,
            options: {
                opens: 'left',
                useEndOfDay: true
            }
        }
    ">
        <span data-bind="text: dateRangeText"></span>
        <i class="fa fa-search"></i>
    </div>
    <!-- /ko -->

    <!-- ko with: evaluatorActivityWidget -->
    <div class="eval-table l-scroll-table-stretch" data-bind="dataTable: evaluatorGrid">
        <div data-filter-row >
            <div data-column="evaluatorName">
                <input class="form-control input-sm" type="text" data-bind="textInput: nameFilter"/>
            </div>
            <div data-column="evaluatorGroup">
                <!-- ko with: groupSelector -->
                <input class="groupSelector" type="hidden" data-bind="
                            combobox: {
                                search: getGroups,
                                value: groups,
                                placeholder: placeholderText,
                                multiple: false,
                                allowClear: true
                            }
                        "/>
                <!-- /ko -->
            </div>
        </div>
        <div data-row data-bind = "attr: {
                        'data-evaluator-id': evaluatorId
                     }">
            <div data-column="evaluatorName" class="evaluator-name-parents">
                <a class="evaluator-name-attr" data-bind="
                    attr: {href: evaluatorName.href},
                    text: evaluatorName.truncatedName,
                    tooltip: {text: evaluatorName.displayName}"></a>
            </div>
            <div data-column="evaluatorGroup"></div>
            <div data-column="evaluationProgress" >
                <div class="complete-with-progress outbound-component">
                    <div class="determinate-progress">
                        <span data-bind="lString: progressLabel"></span>
                        <div class="determinate-progress-bar">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                 data-bind="dynamicWidth: progressPercentage, attr: {'aria-valuenow': progressPercentage}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-column="calibrationsCompleted" data-bind="text: numCalibrationsCompleted"></div>
        </div>
        <div data-footer>
            <div data-pager></div>
            <div data-settings></div>
        </div>
    </div>
    <!-- /ko -->
</div>
