<div class="config-form evaluator-table-container">
    <!-- ko if: user -->
        <div class="evaluator-image-container">
            <div class="person-img">
                <!-- ko if: userImages() -->
                <img class="img-circle img-responsive" alt="" data-bind="
                                attr: { src: userImages().x96 }
                            "/>
                <!-- /ko -->
                <!-- ko ifnot: userImages() -->
                            <span class="person-icon">
                                <i class="pc-icon-user"></i>
                            </span>
                <!-- /ko -->
            </div>
            <div data-bind="text: user().name"></div>
        </div>
    <!-- /ko -->
    <!-- ko with: dateRangesView -->
    <div class="btn btn-default daterange-selector" data-bind="
        dateRangePicker: {
            value: dateRangeValue,
            options: {
                opens: 'left',
                useEndOfDay: true
            }
        }
    ">
        <span data-bind="text: dateRangeText"></span>
        <i class="fa fa-search"></i>
    </div>
    <!-- /ko -->
    <div class="completed-evaluations">
        <div class="title" data-bind="lString: 'evaluatorDashboard.completedInteractions'"></div>
        <div data-bind="loadIndicator: isLoadingEvaluations"></div>

        <div class="eval-table l-scroll-table-stretch" data-bind="dataTable: completedEvalGrid">
            <div data-row data-bind="
                                attr: {
                                    'data-evaluation-id': id,
                                    'data-conversation-id': conversation.id,
                                }
                            ">
                <div data-column="assignedDate" class="assigned-date">
                    <a data-bind="
                                        lDate: assignedDate,
                                        attr: {href: '#admin/interactions/' + conversation.id + '/evaluations/' + id}
                                    "></a>
                </div>
                <div data-column="releaseDate" class="release-date">
                    <!-- ko if: releaseDate -->
                    <span data-bind="lDate: releaseDate"></span>
                    <!-- /ko -->
                </div>
                <div data-column="agent" class="agent-name" data-bind="
                                    text: agent.displayName"
                        ></div>
                <div data-column="form" class="form-name" data-bind="
                                    text: evaluationForm.name"
                        ></div>
                <div data-column="score" class="score number-cell" data-bind="
                                    text: score"
                        ></div>
                <div data-column="calibration" class="calibration">
                    <!-- ko if: calibration -->
                    <span data-bind="lString: 'evaluatorDashboard.isCalibrationIndicator'"></span>
                    <!-- /ko -->

                    <!-- ko ifnot: calibration -->
                    <span data-bind="lString: 'evaluatorDashboard.isNotCalibrationIndicator'"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>

    </div>

    <div class="pending-evaluations">
        <div class="title" data-bind="lString: 'evaluatorDashboard.pendingInteractions'"></div>
        <div data-bind="loadIndicator: isLoadingEvaluations"></div>

        <!-- ko ifnot: isLoadingEvaluations -->
        <div class="eval-table l-scroll-table-stretch" data-bind="dataTable: pendingEvalGrid">
            <div data-row data-bind="
                        attr: {
                            'data-evaluation-id': id,
                            'data-conversation-id': conversation.id,
                        }
                    ">
                <div data-column="assignedDate" class="assigned-date">
                    <a data-bind="
                                lDate: assignedDate,
                                attr: {href: '#admin/interactions/' + conversation.id + '/evaluations/' + id}
                            "></a>
                </div>
                <div data-column="agent" class="agent-name">
                    <span data-bind="text: agent.name"></span>
                </div>
                <div data-column="form" class="form-name">
                    <span data-bind="text: evaluationForm.name"></span>
                </div>
                <div data-column="status" class="status">
                    <span data-bind="lString: 'evaluatorDashboard.status.' + status"></span>
                </div>
                <div data-column="calibration" class="calibration">
                    <!-- ko if: calibration -->
                    <span data-bind="lString: 'evaluatorDashboard.isCalibrationIndicator'"></span>
                    <!-- /ko -->

                    <!-- ko ifnot: calibration -->
                    <span data-bind="lString: 'evaluatorDashboard.isNotCalibrationIndicator'"></span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

