<div class="config-form keywordSet-container">
	<form data-bind="form: save">
	    <div data-bind="loadIndicator: isLoading"></div>
	    <!-- ko ifnot: isLoading -->	    	

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'orderEditor-id',
	                    label: 'checkout.orders.orderId',
	                    value: order().id,
	                    type: 'text',
	                    spanning: true,
	                    disabled: true,
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'orderEditor-id',
	                    label: 'checkout.orders.customerName',
	                    value: order().customerName,
	                    type: 'text',
	                    spanning: true,
	                    disabled: true,
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'orderEditor-email',
	                    label: 'checkout.orders.email',
	                    value: order().email,
	                    type: 'text',
	                    spanning: true,
	                    disabled: true,
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/textarea',
	                data: {
	                    id: 'orderEditor-description',
	                    label: 'checkout.orders.shippingAddress',
	                    value: order().shippingAddress,
	                    spanning: true,
	                    disabled: true
	                }
	            } -->
	        <!-- /ko -->

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/textarea',
	                data: {
	                    id: 'orderEditor-items',
	                    label: 'checkout.orders.items',
	                    value: itemsList(),
	                    spanning: true,
	                    disabled: true
	                }
	            } -->
	        <!-- /ko -->

	        <div class="form-group" >
		    <label class="keywordSet-item-label">
		        <span data-bind="lString: 'checkout.orders.status'"></span>
		    </label>
            <div class="keywordSet-item">
                <select class="form-control" data-bind="options: statusOptions,
                    value: order().status,
                    optionsText: 'name',
                    optionsValue: 'id'"></select>
                <span data-bind="controlMessage: selectedStatus"></span>
            </div>
	    </div>

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'totalEditor-tag',
	                    label: 'checkout.orders.total',
	                    value: order().total,
	                    type: 'text',
	                    spanning: true,
	                    disabled: true,
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->


	    <div class="footer action-group">
	        <!-- ko include: {
	            name: 'templates/widgets/formControls/submit',
	            data: {
	                label: 'checkout.orders.order.save',
	                isLoading: saving
	            }
	        } -->
	        <!-- /ko -->
	        <a class="btn btn-link" data-bind="
	            lString: 'quality.keywords.keywordSet.cancel',
	            attr: { href: orderListHref() }">
	        </a>
	    </div>

	    <div class="form-group blank-space"></div>
	    <!-- /ko -->
	</form>
</div>