<div class="config-form keywordSet-list-container">
    
    <div class="data-grid-toolbar">
    </div>

    <div class="l-scroll-table-stretch policy-table" data-bind="dataTable: orderGrid">
        <div data-row data-selectable>
            <div data-column="id" class="price-keywordSet" >
                <a class="name-policy" data-bind="attr: {href: id.href}, text: id.label"></a>
            </div>
            <div data-column="name" data-bind="text: name" class="name-keywordSet">
            </div>
            <div data-column="address" data-bind="text: address" class="address-keywordSet" ></div>
            <div data-column="status" data-bind="text: status"></div>
            <div data-column="total" data-bind="text: total"></div>
        </div>
        <div data-footer>
            <div data-pager></div>
        </div>
        
    </div>

</div>