<div class="config-form keywordSet-container">
	<form data-bind="form: save">
	    <div data-bind="loadIndicator: isLoading"></div>
	    <!-- ko ifnot: isLoading -->	    	

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'productEditor-name',
	                    label: 'checkout.products.productName',
	                    value: product().name,
	                    type: 'text',
	                    spanning: true,
	                    disabled: false,
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'productEditor-id',
	                    label: 'checkout.products.productId',
	                    value: product().id,
	                    type: 'text',
	                    spanning: true,
	                    disabled: !isNew(),
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->

	        <!-- <div class="form-group">
	            <label class="keywordSet-item-label">
	                <span data-bind="lString: 'checkout.products.product.identifier'"></span>
	            </label>
	                    <div class="keywordSet-item">
	                        <input class="form-control" type="text" data-bind="value: productId"/>
	                    </div>
        	</div> -->

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/textarea',
	                data: {
	                    id: 'productEditor-description',
	                    label: 'checkout.products.product.description',
	                    value: product().desc,
	                    spanning: true,
	                    disabled: false
	                }
	            } -->
	        <!-- /ko -->

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'productEditor-price',
	                    label: 'checkout.products.productPrice',
	                    value: product().price,
	                    type: 'text',
	                    spanning: true,
	                    disabled: false,
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->

	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'productEditor-tag',
	                    label: 'checkout.products.productTag',
	                    value: product().tag,
	                    type: 'text',
	                    spanning: true,
	                    disabled: false,
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->

	    <!-- ko if: canSave -->
	    <div class="footer action-group">
	        <!-- ko include: {
	            name: 'templates/widgets/formControls/submit',
	            data: {
	                label: 'checkout.products.product.save',
	                isLoading: saving
	            }
	        } -->
	        <!-- /ko -->
	        <a class="btn btn-link" data-bind="
	            lString: 'quality.keywords.keywordSet.cancel',
	            attr: { href: productListHref() }">
	        </a>
	    </div>
	    <!-- /ko -->
	    <div class="form-group blank-space"></div>
	    <!-- /ko -->
	</form>
</div>