body {
    background-color: #FFF;
    font-family: sans-serif;
    font-size: .8em;
}

body > #testResults {
    display: block;
    margin-bottom: 20px;
}

.coverage-controls {
    margin-bottom: 20px;
}

#testResults.failures-only .suite-results .no-failures {
    display: none;
}

.display-toggle {
    display: block;
    margin-bottom: 10px;
}

.checklist {
    margin: 0 0 30px 0;
    padding: 0;
}

.checklist li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.passed {
    color: #088;
}

.failed {
    color: #F00;
}

.skipped {
    color: #CCC;
}

.indented {
    padding-left: 20px;
}

.suite-summary {
    margin-bottom: 10px;
}

.details {
    color: #333;
}

.detail {
    margin-bottom: 5px;
}
