//
// PureCould project specific variables
//

// Fonts for general use
@pc-headings-font-family: "Montserrat", Helvetica, Arial, sans-serif;
@pc-font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors for general use!
@pc-blue: #56aac6;
@pc-black: #252525;
@pc-lightblack: #333333;
@pc-darkblue: #195F7A;
@pc-headerblue: #4498b4;
@pc-darkgrey: #b8b8b8;
@pc-lightgrey: #f6f6f6;
@pc-lightblue: #e5eff1;
@pc-green: #4f9325;
@pc-brightgreen: #79ed45;
@pc-red: #D2322D;
@pc-lightred: #EAC3C2;

// Specific use case colors
@pc-text-color: @pc-lightblack;
@pc-link-color: #56aac6;
@pc-icongrey: #b7b7b7;
@pc-table-bg: #fbfbfb;

// basic spacing
@spacing-xl: 60px;
@spacing-lg: 40px;
@spacing-std: 30px;
@spacing-sm: 20px;
@spacing-xs: 10px;

// border radius
@radius-lg: 8px;
@radius-std: 6px;
@radius-sm: 4px;
@radius-xs: 2px;

// z-indexes
@z-datagrid-header: 100;
@z-pager: 990;
@z-dropdown: 1000;
@z-popover: 1010;
@z-tooltip: 1030;
@z-modal-background: 1040;
@z-modal: 1050;

// form columns
@form-column-max-width: 500px;
@form-column-min-width: 250px;

// transition/animation speeds
@animation-speed-fast: 100ms;
@animation-speed-medium: 200ms;
@animation-speed-slow: 300ms;
