<div class="config-form keywordSet-container">
	<form data-bind="form: save">
	    <div data-bind="loadIndicator: isLoading"></div>
	    <!-- ko ifnot: isLoading -->
	        <!-- ko include: {
	                name: 'templates/widgets/formControls/input',
	                data: {
	                    id: 'keywordSetEditor-name',
	                    label: 'quality.keywords.keywordSetName',
	                    value: keywordSetName,
	                    type: 'text',
	                    spanning: true,
	                    disabled: false,
	                    readonly:false,
	                }
	            } -->
	        <!-- /ko -->
	        <!-- ko include: {
	                name: 'templates/widgets/formControls/textarea',
	                data: {
	                    id: 'keywordSetEditor-description',
	                    label: 'quality.keywords.keywordSet.description',
	                    value: keywordSet().description,
	                    spanning: true,
	                    disabled: false
	                }
	            } -->
	        <!-- /ko -->
	    
	    <div class="form-group">
		    <label class="keywordSet-item-label">
		        <span data-bind="lString: 'quality.keywords.keywordSet.queues.label'"></span>
		    </label>
		    <!-- ko if: queuesView -->
		        <!-- ko with: queuesView -->
		            <div class="keywordSet-item" data-bind="formGroup: queues">
		                <input class="form-control" type="hidden" data-bind="
		                    combobox: {
		                        search: getQueues,
		                        value: queues,
		                        placeholder: placeholderText,
		                        multiple: false,
		                        allowClear: true
		                    },
		                    formControl: queues
		                "/>
		                <span data-bind="controlMessage: queues"></span>
		            </div>
		        <!-- /ko -->
	        <!-- /ko -->
	    </div>

		<div class="form-group">
	        <label class="keywordSet-item-label">
		        <span data-bind="lString: 'quality.keywords.keywordSet.agents.label'"></span>
		    </label>
		    <!-- ko if: agentsView -->
		        <!-- ko with: agentsView -->
		            <div class="keywordSet-item" data-bind="formGroup: agents">
		                <input class="form-control" type="hidden" data-bind="
		                    combobox: {
		                        search: getAgents,
		                        value: agents,
		                        placeholder: placeholderText,
		                        required: false,
		                        multiple: true
		                    },
		                    formControl: agents
		                "/>
		                <span data-bind="controlMessage: agents"></span>
		            </div>
		        <!-- /ko -->
	        <!-- /ko -->
	    </div>

	    <div class="form-group" >
		    <label class="keywordSet-item-label">
		        <span data-bind="lString: 'quality.keywords.keywordSet.language.label'"></span>
		    </label>
            <div class="keywordSet-item">
                <select class="form-control" data-bind="options: languageOptions,
                    value: keywordSet().language,
                    optionsText: 'name',
                    optionsValue: 'id'"></select>
                <span data-bind="controlMessage: selectedLanguage"></span>
            </div>
	    </div>

	    <div class="form-group" data-bind="formGroup: keywordSet().participantPurposes">
	        <label class="keywordSet-item-label">
	            <span data-bind="lString: 'quality.keywords.participantPurpose'"></span>
	        </label>

	        <select class="form-control" data-bind="options: participantPurposeTypes,
	                            optionsText: 'name',
	                            optionsValue: 'id',
	                            selectedOptions: keywordSet().participantPurposes"
	                            multiple="true"></select>

	        <span data-bind="controlMessage: keywordSet().participantPurposes"></span>
	    </div>

        <div class="form-group" >
            <label class="keywordSet-item-label">
                <span data-bind="lString: 'quality.keywords.keywordSet.keywords.label'"></span>
            </label>
            <div class="inline-dialog-container" data-bind="inlineDialog: keywordEditor"></div>
        </div>

	    <div class="data-grid-toolbar keywordSet-item">
	        <!-- ko if: canAdd -->
	        <a class="btn" data-bind="{click: createKeywordEditor}">
	            <i class="fa fa-plus-circle create"></i>
	            <span class="btn-label" data-bind="lString: 'quality.keywords.createKeyword'"></span>
	        </a>
	        <!-- /ko -->
	        <!-- ko if: canDelete -->
	        <button class="btn" data-bind="click: deleteSelectedRows, enable: areRowsSelected">
	            <i class="fa fa-minus-circle delete"></i>
	            <span class="btn-label" data-bind="lString: 'quality.keywords.deleteKeywords'"></span>
	        </button>
	        <!-- /ko -->
	    </div>
	    <div class="l-scroll-table-stretch keywordSet-item" data-bind="dataTable: keywordGrid">
	        <div data-row data-selectable>
	            <div data-column="phrase" class="keyword-phrase-column">
	                <button type="button" class="btn btn-link" data-bind="click: editKeyword, text: phrase.label"></button>
	            </div>
	            <div data-column="confidence" data-bind="text: confidence" class="description-keywordSet"></div>
	            <div data-column="agentScoreModifier" data-bind="text: agentScoreModifier" class="description-keywordSet"></div>
	            <div data-column="customerScoreModifier" data-bind="text: customerScoreModifier" class="description-keywordSet"></div>
	        </div>
	    </div>
        <!-- ko if: isInvalidKeyword() -->
        <span class="control-message" data-bind="lString: 'quality.keywords.keywordSet.keywords.error'"></span>
        <!-- /ko -->

	    <!-- ko if: canSave -->
	    <div class="footer action-group">
	        <!-- ko include: {
	            name: 'templates/widgets/formControls/submit',
	            data: {
	                label: 'quality.keywords.keywordSet.save',
	                isLoading: saving
	            }
	        } -->
	        <!-- /ko -->
	        <a class="btn btn-link" data-bind="
	            lString: 'quality.keywords.keywordSet.cancel',
	            attr: { href: keywordSetListHref() }">
	        </a>
	    </div>
	    <!-- /ko -->
	    <div class="form-group blank-space"></div>
	    <!-- /ko -->
	</form>
</div>