<div class="config-form keyword-container">
    <!-- ko include: {
            name: 'templates/widgets/formControls/input',
            data: {
                id: 'keywordEditor-phrase',
                label: 'quality.keywords.phrase',
                value: keyword().phrase,
                type: 'text',
                spanning: true,
                disabled: false,
                readonly:false,
            }
        } -->
    <!-- /ko -->

    <div class="keyword-confidence" data-bind="formGroup: keyword().confidence, css: { spanning: $data.spanning || false }">
        <label class="control-label" data-bind="lString: 'quality.keywords.confidence'"></label>
        <div class="keyword-number" data-bind="integerPicker: {value: keyword().confidence, min: 1, max: 100, template: 'checkout/integerPicker_default'}"></div>
        <span data-bind="controlMessage: keyword().confidence"></span>
    </div>

    <div class="keyword-agent-score-modifier" data-bind="formGroup: keyword().agentScoreModifier, css: { spanning: $data.spanning || false }">
        <label class="control-label" data-bind="lString: 'quality.keywords.agentScoreModifier'"></label>
        <div class="keyword-number" data-bind="integerPicker: {value: keyword().agentScoreModifier, min: -100, max: 100, template: 'checkout/integerPicker_default'}"></div>
        <span data-bind="controlMessage: keyword().agentScoreModifier"></span>
    </div>

    <div class="keyword-customer-score-modifier" data-bind="formGroup: keyword().customerScoreModifier, css: { spanning: $data.spanning || false }">
        <label class="control-label" data-bind="lString: 'quality.keywords.customerScoreModifier'"></label>
        <div class="keyword-number" data-bind="integerPicker: {value: keyword().customerScoreModifier, min: -100, max: 100, template: 'checkout/integerPicker_default'}"></div>
        <span data-bind="controlMessage: keyword().customerScoreModifier"></span>
    </div>

    <div class="keyword-alternate-spelling" data-bind="formGroup: keyword().alternateSpellings">
        <label class="keyword-wants-alternate">
            <input type="checkbox" data-bind="checked: wantsAlternateSpellings"/>
            <span data-bind="lString: 'quality.keywords.alternateSpelling'"></span>
        </label>

        <div data-bind='foreach: keyword().alternateSpellings'>
            <div>
                <input class="form-control" data-bind="value: $rawData, valueUpdate:'afterkeydown'" />
                <button class="btn btn-link" data-bind="click: $parent.addAlternateSpelling($index()), lString: 'quality.common.add'"></button>
                <!-- ko if: $parent.canRemoveKeywordAlternateSpelling -->
                    <button class="btn btn-link" data-bind="click: $parent.removeAlternateSpelling($index()), lString: 'quality.common.remove'"></button>
                <!-- /ko -->
            </div>
        </div>
        <span data-bind="controlMessage: keyword().alternateSpellings"></span>
    </div>


    <!-- ko if: canSave -->
    <div class="footer action-group">
    	<button class="btn btn-primary" data-bind="
            lString: 'quality.common.add',
            click: $data.addKeyword">
        </button>
        <button class="btn btn-link" data-bind="
            lString: 'quality.keywords.keywordSet.cancel',
            click: $data.cancel">
        </button>
    </div>
    <!-- /ko -->
</div>