<div class="config-form keywordSet-list-container">
    
    <div class="data-grid-toolbar">
        <!-- ko if: canAdd -->
        <a class="btn" data-bind="attr: {href: newKeywordSetHref}">
            <i class="fa fa-plus-circle create"></i>
            <span class="btn-label" data-bind="lString: 'quality.keywords.create'"></span>
        </a>
        <!-- /ko -->
        <!-- ko if: canDelete -->        
        <button class="btn" data-bind="click: deleteSelectedRows, enable: areRowsSelected">
            <i class="fa fa-minus-circle delete"></i>
            <span class="btn-label" data-bind="lString: 'quality.keywords.delete'"></span>
        </button>
        <!-- /ko -->
    </div>

    <div class="l-scroll-table-stretch policy-table" data-bind="dataTable: keywordSetGrid">
        
        <div data-filter-row>
            <div data-column="name">
                <div class="input-group">
                    <input class="form-control input-sm" type="text" data-bind="textInput: keywordSet">
                    <span class="input-group-addon keywordSet-clear-field" >
                        <span class="sr-only" data-bind="lString: 'quality.policiesMain.clearField'"></span>
                        <i class="glyphicon glyphicon-remove policy-hover" data-bind="click: clearFields"></i>
                    </span>
                </div>
            </div>
        </div>

        <div data-row data-selectable>
            <div data-column="name" class="name-keywordSet">
                <a class="name-policy" data-bind="attr: {href: name.href}, text: name.label"></a>
            </div>
            <div data-column="description" data-bind="text: description" class="description-keywordSet"></div>
            <div data-column="queue" data-bind="text: queue" class="queue-keywordSet" ></div>
            <div data-column="agentNames">
                <div data-bind="
                     include: 'templates/appMain/privilegedMain/qm/interactionsListAgentCell'">
                </div>
            </div>
        </div>
        <div data-footer>
            <div data-pager></div>
        </div>
        
    </div>

</div>